#princip {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image/fondo11.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  #container-princ {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: rgba(181, 178, 178, 0.964);
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: white;
    text-size-adjust: 60px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
